<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>iToken - 管理后台</title>
    <th:block th:include="includes/head :: head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content" style="height: 100vh">
    <div class="content_wrap">
        <h2>欢迎使用</h2>
        <br>
        <h1>消防物联网云平台</h1>
    </div>
</section>
<style>
    .content_wrap{
        position: relative;
        top: 20%;
        text-align: center;
    }
    .content_wrap h1{
        font-family: 幼圆;
    }
</style>
<th:block th:include="includes/foot :: foot"></th:block>
</body>
</html>