<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{{template}/bower_components/bootstrap/dist/css/bootstrap.min.css(template=${template})}"/>
    <link rel="stylesheet" th:href="@{{template}/bower_components/font-awesome/css/font-awesome.min.css(template=${template})}"/>
    <link rel="stylesheet" th:href="@{{template}/bower_components/Ionicons/css/ionicons.min.css(template=${template})}"/>
    <link rel="stylesheet" th:href="@{{template}/dist/css/AdminLTE.min.css(template=${template})}">
    <link rel="stylesheet" th:href="@{{template}/dist/css/skins/skin-blue.min.css(template=${template})}">
    <link rel="stylesheet" th:href="@{{template}/bower_components/bootstrap/dist/css/bootstrap.min.css(template=${template})}"/>
    <link rel="stylesheet" th:href="@{{template}/bower_components/bootstrap/dist/css/bootstrap.min.css(template=${template})}"/>
    <link rel="stylesheet" th:href="@{{template}/plugins/iCheck/all.css(template=${template})}">
    <link rel="stylesheet" th:href="@{{template}/bower_components/DataTables-1.10.15/media/css/dataTables.bootstrap.css(template=${template})}"/>
</head>

<body>
</body>
</html>